@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&display=swap");

body {
  margin: 0;
  font-family: "Atkinson Hyperlegible Next", serif;
  min-width: 200px;
}

:root {
  --primary: #bf8f6b;
  --secondary: #956139;
  --secondary-dark: #704523;
  --white: #ffffff;
  --dark: #313131;
  --hover: #f3c8a8;
  --white-secondary: #ececec;
  --alert-primary: #ffaaaa; 
  --alert-secondary: #c70000; 
  min-width: 200px;
}
