.header-menu li {
  list-style: none;
}

.header-menu li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  color: var(--secondary);
  margin: 0 10px;
}

.header-menu li a:hover {
  color: var(--dark);
}

.header-logo a {
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
  color: var(--primary);
}

header {
  position: relative;
  padding: 0 50px;
}

.navbar {
  width: 100%;
  height: 80px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
}

.navbar .header-menu {
  display: flex;
}

.navbar .toggle-menu {
  color: var(--dark);
  font-size: 16px;
  cursor: pointer;
  display: none;
}

.navbar .header-button a {
  text-decoration: none;
  padding: 5px 10px;
}

.navbar .header-button .signin-button {
  border: 1px solid var(--primary);
  border-radius: 3px;
  background-color: transparent;
  color: var(--primary);
  transition: 0.3s ease-in;
  margin-right: 20px;
}

.navbar .header-button .signin-button:hover {
  color: var(--dark);
  border: 1px solid var(--dark);
  transition: 0.3s ease-in;
}

.navbar .header-button .signup-button {
  border: 1px solid var(--secondary);
  border-radius: 3px;
  background: linear-gradient(130deg, var(--primary), var(--secondary));
  color: var(--white);
  transition: 0.3s ease-in;
}

.navbar .header-button .signup-button:hover {
  background: linear-gradient(130deg, var(--secondary), var(--primary));
  transition: 0.3s ease-in;
}

.header-dropdown-menu {
  position: absolute;
  display: none;
  padding: 0px 20px;
  height: 0px;
  top: 40px;
  right: 30px;
  border-radius: 5px;
  width: 200px;
  background: linear-gradient(130deg, var(--primary), var(--secondary));
  overflow: hidden;
  transition: height 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.header-dropdown-menu.open {
  padding: 10px 20px;
  height: 238px;
}

.dropdown-signup-button {
  border: 1px solid var(--white);
  border-radius: 3px;
  background-color: transparent;
  padding: 4px 8px;
  color: var(--primary);
  transition: 0.3s ease-in;
  width: 100%;
  text-align: center;
}

.dropdown-signin-button {
  border: 1px solid var(--white);
  border-radius: 3px;
  background-color: transparent;
  padding: 4px 8px;
  color: var(--primary);
  transition: 0.3s ease-in;
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.header-dropdown-menu li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 6px 0px;
}

.header-dropdown-menu li a {
  text-decoration: none;
  color: var(--white);
  cursor: pointer;
  font-size: 16px;
}

@media (max-width: 950px) {
  header {
    position: relative;
    padding: 0 30px;
  }

  .header-button,
  .header-menu li {
    display: none;
  }

  .navbar .toggle-menu {
    display: block;
    font-size: 20px;
  }

  .header-dropdown-menu {
    display: block;
  }

  .header-dropdown-menu li {
    justify-content: left;
  }

  .header-dropdown-menu li a{
    transition: padding 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }

  .header-dropdown-menu li a:hover{
    color: var(--hover);
    padding-left: 3px;
    transition: padding 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }

  .header-dropdown-menu .dropdown-signin-button{
    color: var(--white);
    transition: 0.2s ease-in;
  }

  .header-dropdown-menu .dropdown-signin-button:hover{
    padding-left: 8px;
    color: var(--primary);
    background: var(--white);
    transition: 0.2s ease-in;
  }

  .header-dropdown-menu .dropdown-signup-button{
    color: var(--secondary);
    transition: 0.2s ease-in;
    background: var(--white);
  }

  .header-dropdown-menu .dropdown-signup-button:hover{
    padding-left: 8px;
    color: var(--white);
    background: linear-gradient(130deg, var(--secondary), var(--primary));
    transition: 0.2s ease-in;
  }
}

@media (max-width: 600px) {
  header {
    position: relative;
    padding: 0 15px;
  }

  .navbar .toggle-menu {
    display: block;
    font-size: 20px;
  }

  .header-dropdown-menu {
    display: block;
    width: 200px;
    right: 15px;
  }
  .header-dropdown-menu li {
    justify-content: left;
  }
}
